.carousel-item {
    height: 90vh;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-item {
        height: 60vh;
    }
}

@media (max-width: 576px) {
    .carousel-item {
        height: 50vh;
    }
}
